# Temporary files
*~

# Prerequisites
*.d

# Object files
*.o

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# QT-creator files
*.cflags
*.config
*.creator
*.user
*.cxxflags
*.files
*.includes
